{
    "extends": "./node_modules/@inthepocket/itp-react-scripts/dist/config/eslintrc.js",
    "globals": {
        "navigator": true,
        "window": true,
        "document": true
    },
    "rules": {
        "no-console":"off",
        "react/prop-types": "off"
    }
}