.App {
  text-align: center;
}

.App-logo {
  background-color: white;
  border-radius: 20px;
  animation: App-logo-spin 2s ease-in;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate3d(1, 1, 1, 0deg) scale(0.5);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg) scale(1);
  }
}
