.Home {
  text-align: center;
}

.Home-logo {
  animation: Home-logo-spin 1500ms ease-in;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Home-paragraph {
  margin-bottom: 3em;
  margin-top: 3em;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: #d4380d;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 2px solid #d4380d;
  color: #d4380d;
}
.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #d4380d;
}


.Home-tryout .ant-card {
  background: inherit
}

.Home-tryout .ant-card-bordered {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-color: rgba(0, 0, 0, 0.09);
}

.Home-tryout .ant-card-bordered:hover {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29);
    border-color: rgba(0, 0, 0, 0.29);
}